@charset "UTF-8";

/* 共通設定 */
body {
  margin: 0;
  background: #fbfbfb;
  font-family: '游ゴシック', YuGothic, "游ゴシック体 Pr6N M", "Yu Gothic Pr6N M", 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

.copyright {
  display: block;
  text-align: center;
}

/* PC */
@media screen and (min-width:768px) {

  /* ヘッダー */
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(220, 217, 217);
  }

  .header-logo {
    margin-left: 20px;
  }

  .header-subsidiary {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .header-subsidiary>.search-form {
    margin: 0 5px;
  }

  .search-input {
    padding: 5px;
    background-color: rgb(212, 212, 212);
    border: none;
    border-radius: 5px;
  }


  .h-icon-user,
  .h-icon-cart {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }

  .h-icon-user>img,
  .h-icon-cart>img {
    width: 100%;
    height: 100%;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgb(220, 217, 217);
  }

  .header-nav>.nav-list {
    margin: 0 10px;
  }

  /* メイン */
  .products-wrap {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 10px;
  }

  .product-lists {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  .list-item {
    padding: 15px;
    background-color: #f4f2f2;
    border-radius: 5px;
  }

  .item-link {
    display: block;
    width: 100%;
    height: 100%;
    margin: 10px auto;
  }

  .item-img {
    width: 100%;
    border-radius: 5px;
  }
}

/* タブレット */
@media screen and (min-width:521px) and (max-width: 767px) {

  /* ヘッダー */
  .header-wrap {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(220, 217, 217);
  }

  .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-subsidiary {
    height: 50px;
  }

  .search-form {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
  }

  .search-input {
    width: 300px;
    height: 30px;
    padding: 0;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    border: 1px solid rgb(220, 217, 217);
  }

  .h-icon-user,
  .h-icon-cart {
    position: absolute;
    top: 50%;
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }

  .h-icon-user {
    right: 10%;
    transform: translateY(-50%);
  }

  .h-icon-cart {
    right: 5%;
    transform: translateY(-50%);
  }

  .h-icon-user>img,
  .h-icon-cart>img {
    width: 100%;
    height: 100%;
  }

  .header-nav {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    justify-items: center;
    margin: 40px auto 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid rgb(220, 217, 217);
  }

  .nav-list:hover {
    opacity: 0.5;
  }

  /* メイン */
  .products-wrap {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .product-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .list-item {
    padding: 15px;
    background-color: rgb(244, 239, 239);
    border-radius: 5px;
  }

  .item-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  .item-img {
    width: 100%;
    border-radius: 5px;
  }
}

/* スマホ */
@media screen and (max-width:520px) {
  body {
    min-width: 280px;
  }

  /* ヘッダー */
  .header-wrap {
    position: relative;
    height: 50px;
    border-bottom: 1px solid rgb(220, 217, 217);
  }

  .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  .header-subsidiary {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50px;
  }

  .search-form {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-input {
    height: 30px;
    width: 200px;
    padding: 0;
    background-color: rgb(212, 212, 212);
    border: 1px solid rgb(220, 217, 217);
    border-radius: 5px;
  }

  .h-icon-user {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translate(-50%, -50%);
    width: 15px;
  }

  .h-icon-cart {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    width: 25px;
  }

  .h-icon-user>img,
  .h-icon-cart>img {
    width: 100%;
    height: 100%;
  }

  .header-nav {
    margin: 50px auto 0 auto;
    padding: 10px 0;
    border: 1px solid rgb(220, 217, 217);
    text-align: center;
  }

  .nav-list:hover {
    opacity: 0.5;
  }

  .products-wrap {
    padding: 20px 10px;
  }

  .product-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .list-item {
    padding: 10px;
    background-color: #f4f2f2;
    border-radius: 5px;
  }

  .item-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  .item-img {
    width: 100%;
    border-radius: 5px;
  }

  .item-name {
    font-size: 1rem;
  }
}

/* メンテナンス画面 */
.maintenance-message{
  height: 100vh;
  text-align: center;
  line-height: 100vh;
}